
header {
    background-color: ghostwhite;
}




.box {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
}

body{
    background-color: #0f326d;
    text-align: center;
    font-family: Arial;
}

.kort {
    border: 2px solid black;
    background-color: #85a8f6;
    width: 300px;
}